.shopDetail {
  border: 1px solid #ccc;
  @media screen and(max-width:600px) {
    height: 100vh;
    padding: 32px 0;
  }
  .mask {
    display: none;
  }
  .mask--active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
  }
  .shopDetailInner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media screen and(max-width:600px) {
      flex-direction: column;
    }

    .shopDetail__left {
      position: fixed;
      top: 64px;
      left: 32px;
      z-index: 5;

      @media screen and(max-width:600px) {
        position: static;
        padding: 0 20px 0 20px;
        margin-right: 100px;
        max-width: none;
      }
      .left__text {
        .left__title {
          color: #000;
          font-size: 2.4rem;
        }
        .left__subtitle {
          color: #000;
          font-size: 2rem;
          margin-top: 16px;
        }
      }
      .left__nav {
        margin-top: 40px;
        font-size: 1.6rem;
        line-height: 40px;
        position: relative;
        @media screen and(max-width:600px) {
          display: none;
        }
        .nav__item {
          cursor: pointer;
          &:hover > .sub__wrapper {
            display: block;
            transition: 0.3s ease-in-out;
          }
        }
        .main__box {
          padding-left: 16px;
          &:hover {
            opacity: 0.8;
          }
          &:hover::before {
            opacity: 1;
          }
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 48%;
            left: 0;
            transform: translateY(-55%);
            border: 5px solid transparent;
            border-left: 8px solid #000; /* 好みで色を変えてください */
            opacity: 0;
          }
        }
        .sub__wrapper {
          display: none;
          margin-left: 24px;
          line-height: 16px;
          transition: 0.5s;
          animation: fadeslidein 0.5s;
          opacity: 1;
          background-color: rgba($color: #fff, $alpha: 0.7);
          padding: 16px;
          @keyframes fadeslidein {
            0% {
              opacity: 0;
              transform: translateY(0.5rem);
            }
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
          .sub__item {
            line-height: 24px;
            display: block;
            margin-top: 16px;
          }
          .arrow--active {
            &::before {
              top: 48%;
            }
          }
        }
      }
      .ham__nav {
        display: none;
        @media screen and(max-width:600px) {
          display: block;
        }
        /* ハンバーガーボタン */
        .ham__target {
          display: block;
          position: fixed;
          z-index: 3;
          right: 30px;
          top: 30px;
          width: 60px;
          height: 50px;
          cursor: pointer;
          text-align: center;

          .target__line {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 6px;
            background: #000;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
          }
          .target__line1 {
            top: 10px;
            width: 50px;
            transition: 0.3s ease-in-out;
          }
          .target__line2 {
            top: 25px;
            width: 40px;
          }
          .target__line3 {
            top: 40px;
            width: 30px;
            transition: 0.3s ease-in-out;
          }

          .target__line--active {
            background-color: #fff;
            transition: 0.3s ease-in-out;
          }
          .target__line1--active {
            top: 25px;
            width: 40px;
            left: 10px;
            transition: 0.3s ease-in-out;
          }
          .target__line2--active {
            left: 10px;
            transition: 0.3s ease-in-out;
          }
          .target__line3--active {
            top: 25px;
            width: 40px;
            left: 10px;
            transition: 0.3s ease-in-out;
          }

          /* ナビ開いてる時のボタン */
          .active {
            &:nth-child(1) {
              -webkit-transform: translateY(6px);
              -moz-transform: translateY(6px);
              transform: translateY(6px);
            }
            &:nth-child(2) {
              -webkit-transform: translateY(-4px);
              -moz-transform: translateY(-4px);
              transform: translateY(-4px);
            }

            &:nth-child(3) {
              -webkit-transform: translateY(-14px);
              -moz-transform: translateY(-14px);
              transform: translateY(-14px);
            }
          }
        }
        .globalMenuSp {
          position: fixed;
          z-index: 2;
          top: 0;
          left: 0;
          bottom: 0;
          color: #000;
          background: #fff;
          text-align: center;
          transform: translateX(100%);
          transition: all 0.6s;
          width: 100%;

          .globalMenuSp__wrapper {
            position: relative;
            background: #ccc;
            margin: 0 auto;
            padding: 80px 0 0;
            width: 100%;
            height: 100%;

            .nav__item {
              list-style-type: none;
              font-size: 1.6rem;
              line-height: 40px;
              padding: 0;
              width: 100%;
              border-bottom: 1px solid #fff;
              position: relative;

              &:last-child {
                padding-bottom: 0;
                border-bottom: none;
              }
              &:hover {
                background: #ddd;
                &:last-child {
                  background: none;
                }
              }

              .item__link {
                display: block;
                color: #000;
                padding: 1em 0;
                text-decoration: none;
              }
              .main__box {
                overflow: hidden;
                display: block;
                align-items: center;
                cursor: pointer;
                position: relative;
                line-height: 72px;

                .accordion__button {
                  position: absolute;
                  top: 16px;
                  right: 32px;
                  border: none;
                  outline: none;
                  margin: 0;
                  padding: 0;
                  pointer-events: none;
                  background: 0 0;
                  display: inline-block;
                  animation: slidein 1s cubic-bezier(0.19, 1, both 0.3s);
                  .button__in {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    transition: 0.5s cubic-bezier(0.19, 1);

                    .button__circle {
                      width: 40px;
                      height: 40px;
                      top: 0;
                      right: 0;
                      overflow: hidden;
                      position: absolute;
                      z-index: 0;
                      border-radius: 50%;
                      &::before {
                        background: #acacac;
                        border: #acacac solid 0.1rem;
                        transition: transform 0.5s
                          cubic-bezier(0.19, 1, 0.22, 1);
                        transform: scale(0.75);
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 50%;
                      }
                    }
                    .line1 {
                      background-color: #fff;
                      width: 10px;
                      top: 20px;
                      right: 15px;
                      display: block;
                      content: "";
                      position: absolute;
                      margin: auto;
                      height: 1px;
                      transition: 0.2s cubic-bezier(0.19, 1);
                      z-index: 1;
                    }
                    .line2 {
                      background-color: #fff;
                      width: 1px;
                      top: 15px;
                      right: 20px;
                      display: block;
                      content: "";
                      position: absolute;
                      margin: auto;
                      height: 10px;
                      transition: 0.3s cubic-bezier(0.19, 1);
                      z-index: 1;
                      transition: 0.2s;
                    }
                    .line2--active {
                      transform: rotate(90deg);
                      transition: 0.2s;
                    }
                  }
                }
              }
              .sub__box {
                display: none;
                transition: 0.5s;
                animation: fadeslidein 0.5s;
                opacity: 1;
                @keyframes fadeslidein {
                  0% {
                    opacity: 0;
                    transform: translateY(0.5rem);
                  }
                  100% {
                    opacity: 1;
                    transform: translateY(0);
                  }
                }
                .sub__wrapper {
                  .sub__item {
                    overflow: hidden;
                    display: block;
                    margin: 0 0 5px;
                    padding-left: 16px;
                    padding-right: 16px;
                    &:hover {
                      background: #ddd;
                    }
                  }
                }
              }
              .accordion--open {
                display: block;
              }
            }
          }
        }
        /* このクラスを、jQueryで付与・削除する */
        .active {
          transform: translateX(0%);
        }
        .accordion__target {
          position: fixed;
          top: 226px;
          left: 0;
          z-index: 10;
          height: 72px;
          width: 100%;
          opacity: 0.3;
          display: none;
          cursor: pointer;
          &:hover {
            background: #fff;
          }
        }
        .accordion__target--active {
          display: block;
        }
      }
    }

    .shopDetail__center {
      margin-left: 170px;
      @media screen and(max-width:600px) {
        margin-left: 0;
      }
      .scroll__box {
        width: 350px;
        @media screen and(max-width:850px) {
          width: 300px;
        }

        @media screen and(max-width:600px) {
          display: none;
        }

        .scroll__wrapper {
          .img__linkBox {
            width: 350px;
          }
          .wp-post-image {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .scroll-boxSp {
        display: none;
        height: 300px;
        margin-top: 64px;
        @media screen and(max-width:600px) {
          display: flex;
          align-items: center;
          overflow: hidden;
        }
        .scroll__wrapperSp {
          display: flex;
          height: 300px;
          // overflow-x: scroll;

          .contents__item {
            width: 300px;
            .img__link {
              width: 300px;
              .wp-post-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .scroll__wrapperSp--stop {
          animation: loop-slide 40s infinite linear 1s both;
          @keyframes loop-slide {
            from {
              transform: translateX(0);
            }
            to {
              transform: translateX(-100%);
            }
          }
        }
      }
    }

    .shopDetail__right {
      width: 30px;
      position: fixed;
      top: 64px;
      right: 32px;
      z-index: 2;
      @media screen and(max-width:600px) {
        position: static;
        margin-top: 32px;
        padding: 0 20px 0 20px;
        text-align: right;
        width: 100%;
        box-sizing: border-box;
      }
      .company__text {
        transform: rotate(90deg);
        @media screen and(max-width:600px) {
          transform: rotate(0);
        }
      }
    }
  }
  //fancyboxのCSS
  .fancybox-image {
    width: 500px;
    height: 500px;
  }
}
.fancybox-image {
  height: 500px !important;
}
.fancybox-slide {
  background-color: #fff;
}

.fancybox-toolbar {
  display: none;
}

.fancybox-container {
  background-color: #fff;
}
